/* GENERAL */

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-size-adjust: 0.56;
  padding: 0;
  margin-top: 15px;
}

.wrapper {
  min-width: 200px;
  max-width: 768px;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
}

#content {
  padding-bottom: 120px;
  clear: both;
  margin-top: 20px;
}

.logo {
  display: inline-block;
}

a, a:visited {
  color: #36B5CC;
}

a:hover, a:active {
  text-decoration: none;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

h2 {
  font-size: 1.2em;
}

i {
  margin: 0 5px;
}

/* MENU TOGGLE */

.menu-toggle {
  height: 40px;
  display: inline;
}

.menu-toggle label {
  cursor: pointer;
}

.menu-toggle label i {
  font-size: 2em;
  margin: 10px 5% 0 0;
  float: right;
}

#toggle {
  display: none; /* hide the checkbox */
}
#menu {
  display: none;
}

#toggle:checked + #menu {
  display: block;
}

.menu-toggle ul {
  width: 80%;
  margin: 0 10%;
  padding: 0;
  text-align: center;
}

.menu-toggle ul li {
  display: block;
  margin: 10px 0;
}

.menu-toggle ul li a {
  display: block;
}

/* BUTTONS */

button, a.cancel, a.cancel:visited,
a.btn, a.btn:visited {
  color: white;
  font-weight: bold;
  font-size: 1em;
  border: none;
  padding: 10px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #3bd5f1;
  text-decoration: none;
  display: inline-block;
}

button:hover, a.btn:hover {
  background-color: #7ce3f6;
}

a.cancel, a.cancel:visited {
  background-color: #ccc;
}

a.cancel:hover {
  background-color: #ddd;
}

/* FORMS */

form {
  text-align: left;
  min-width: 240px;
  max-width: 240px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea,
select {
  min-width: 220px;
  max-width: 220px;
  padding: 8px 10px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
  color: #000;
  background: #FFF;
  border: 1px solid #FFF;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  color: #414848;
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.25);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.25);
  outline:0;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
textarea:hover {
  color: #414848;
}

select {
  background-color: #F1F1F1;
}

input[type="text"]#end_choices_date, input[type="text"]#end_date {
  min-width: 170px;
  width: 170px;
}

textarea {
  min-height: 120px;
}

.ballots_table form table tbody td {
  font-size: 1em;
}

.ballots_table .choices_date {
  font-size: 0.96em;
}

/* HOME (LOGIN AND SIGNUP) */

.login-signup {
  min-width: 200px;
  width: 100%;
  margin: 0 auto;
}

.login {
  float: left;
  margin-right: 150px;
}

.signup {
  float: left;
}

/* NOTICES */

.alert {
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  padding: 8px 15px;
  text-align: center;
  font-weight: bold;
  margin: 10px auto;
  display: block;
  width: 90%;
}

.success {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5ACA83), color-stop(1, #3CC05B) );
  background:-moz-linear-gradient( center top, #5ACA83 5%, #3CC05B 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ACA83', endColorstr='#3CC05B');
  background-color: #3CC05B;
}

.error {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F36C6C), color-stop(1, #C03131) );
  background:-moz-linear-gradient( center top, #F36C6C 5%, #C03131 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F36C6C', endColorstr='#C03131');
  background-color: #C03131;
}

/* FOOTER */

footer {
  height: 70px;
  position: absolute;
  bottom:0;
  left:0;
  right: 0;
  margin-top: 120px;
  font-size: 0.8em;
}

/* VOTERS */

.gravatar {
  width: 50px;
  vertical-align: middle;
}

/* TABLES */

.ballots_table {
  min-width: 240px;
  font: sans-serif;
  background: #fff;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #3BD5F1;
}

.ballots_table table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  min-width: 240px;
  table-layout: fixed;
}

.ballots_table table td, .ballots_table table th {
  padding: 8px 15px;
  word-wrap: break-word;
}

.ballots_table table thead th {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3BD5F1), color-stop(1, #35C0D9) );
  background:-moz-linear-gradient( center top, #3BD5F1 5%, #35C0D9 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3BD5F1', endColorstr='#35C0D9');
  background-color:#3BD5F1;
  color:#FFFFFF;
  font-size: 1em;
  font-weight: bold;
  border-left: 1px solid #FFFFFF;
}

.ballots_table table thead th:first-child {
  border: none;
}

.ballots_table table tbody td {
  color: #000000;
  border-left: 1px solid #3BD5F1;
  border-bottom: 1px solid #3BD5F1;
  font-size: 0.8em;
  font-weight: normal;
}

.ballots_table table tbody .alt td {
  background: #F7F7F7;
  color: #000000;
}

.ballots_table table tbody td:first-child {
  border-left: none;
}

.ballots_table table tbody tr:last-child td {
  border-bottom: none;
}

.ballots_table i {
  font-size: 1em;
}

.ballots_table select {
  min-width: 60px;
  max-width: 70px;
}

.ballots_table textarea {
  min-width: 75%;
  max-width: 75%;
}

#vote_choice {
  font-size: 1.3em;
  border-bottom: 1px solid #3BD5F1;
}

#vote_choice td {
  padding: 5px 0;
}

#vote_value {
  font-size: 0.8em;
  border-left: none;
  float: right;
  text-align: center;
  font-weight: bold;
}

#results {
  font-size: 1.3em;
  table-layout: fixed;
  border: 1px solid #3BD5F1;
  background-color: #F0F9FD;
}

#results td, #results th {
  padding: 15px;
  word-wrap: break-word;
  border-bottom: 1px solid #3BD5F1;
}

#results th {
  border-right: 1px solid #3BD5F1;
}

#results td:last-child {
  font-weight: bold;
  text-align: center;
}

/* COMMENTS */

.comments {
  /*background-color: #eee;*/
}

.comments li {
  margin-bottom: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #3BD5F1;
}

.comment_header {
  background: #DBF1F5;
  padding: 10px;
  /*border: 1px solid #3BD5F1;*/
  border-bottom: none;
  border-collapse: collapse;
}

.comment_date {
  display: block;
  margin-top: 10px;
}

.comment_body {
  clear: both;
  padding: 10px;
  /*border: 1px solid #3BD5F1;*/
  border-top: none;
  border-collapse:
}

@media only screen and (min-width: 320px)  {
  /* FORMS */

  form {
    min-width: 200px;
    max-width: 300px;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  textarea {
    min-width: 280px;
    max-width: 280px;
  }

  input[type="text"]#end_choices_date, input[type="text"]#end_date {
    min-width: 240px;
  }

  .ballots_table textarea {
    min-width: 90%;
    max-width: 90%;
  }

  #vote_choice {
    font-size: 1em;
  }

  /* FOOTER */

  footer {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 480px)  {
  /* GENERAL */

  #content {
    margin-top: 30px;
  }

  /* FORMS */

  form {
    min-width: 100%;
    max-width: 100%;
  }

  /* TABLES */
  .ballots_table table tbody td {
    font-size: 1em;
  }

  .ballots_table textarea {
    min-width: 94%;
    max-width: 94%;
  }

  #vote_choice {
    font-size: 1em;
  }

  #vote_value {
    font-size: 1em;
  }

  #results {
    font-size: 1em;
  }

  /* NOTICES */

  .alert {
    width: 60%;
  }

  /* COMMENTS */

  .comment_date {
    display: inline;
    margin-top: 0;
    float: right;
  }

  /* FOOTER */

  footer {
    font-size: 1em;
  }
}

@media only screen and (min-width: 670px)  {
  /* GENERAL */
  form {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  input[type="text"]#end_choices_date, input[type="text"]#end_date {
    min-width: 80%;
  }

  .ballots_table textarea {
    min-height: 135px;
    min-width: 96%;
    max-width: 96%;
  }

  .form_left {
    width: 40%;
    float: left;
    margin: 0 10% 40px 0;
  }

  .form_right {
    width: 50%;
    float: left;
  }

  .form_right h3 {
    margin-top: 0;
  }

  .form_buttons {
    clear: both;
    text-align: left;
  }

  .form_left input[type="text"],
  .form_left input[type="email"],
  .form_left input[type="url"],
  .form_left input[type="password"],
  .form_left textarea {
    min-width: 100%;
    max-width: 100%;
  }

  /* MENU TOGGLE */
  .menu-toggle {
    display: inline;
    width: 85%;
  }

  .menu-toggle label i {
    display: none;
  }

  #menu {
    display: inline-block;
    width: auto;
    margin-top: 20px;
  }

  .menu-toggle ul {
    float: right;
    display: inline;
    width: auto;
    margin: 0;
  }

  .menu-toggle ul li {
    display: inline-block;
    width: auto;
    float: left;
    margin: 0 0 0 20px;
  }

  /* NOTICES */

  .alert {
    width: 50%;
    margin-bottom: 20px;
  }
}
